<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>号源配额</title>
    <#include "/header.html">
    <style type="text/css">
        .week-btn {width: 10%; margin-right: 4%; margin-bottom: 10px;}
        table td {vertical-align: middle !important;}
        table input{width:100%;border: none;}
        table input:focus{outline: none;}
    </style>
</head>
<body>
<div id="app">
    <div>
        <div class="col-sm-12" style="margin: 20px;" v-if="showDepSelect">
            <select class="form-control" @change="switchDetectionDep" v-model="detectionDepId" >
                <option value="">选择科室</option>
                <option v-for="d in detectionDeps" :value="d.id">{{d.name}}</option>
            </select>
        </div>
        <button class="btn btn-default week-btn" :class="weekId == w.id ? 'active': ''"
                v-for="(w,index) in weeks" @click="swithWeek(w.id)" >
            {{w.value}}
        </button>
        <table class="table table-bordered" style="text-align: center" v-for="item in quota.bookItems">
            <tr>
                <td>预约项目</td>
                <td>病人来源</td>
                <td v-for="slice in item.timeSlices" >{{slice.startTime | formatSlice}} - {{slice.endTime | formatSlice}}</td>
            </tr>
            <tr >
                <td :rowspan="item.quotaCategories.length + 2">{{item.bookItemName}}</td>
            </tr>
            <tr v-for="qc in item.quotaCategories">
                <td>{{qc.name}}</td>
                <td v-for="slice in item.timeSlices">
                    <input type="number"
                           :value="item.map[weekId + '-' + slice.timeSliceId + '-' + qc.quotaCategoryId]"
                           :data-quota-detail-id="item.idMap[weekId + '-' + slice.timeSliceId + '-' + qc.quotaCategoryId]"
                           @change="configQuota($event, item.bookItemId, slice.timeSliceId, qc.quotaCategoryId)">
                </td>
            </tr>
        </table>
    </div>
</div>
</body>

<script type="text/javascript">
    var initDetectionDepId = getURLParameter("detectionDepId");
    var vm = new Vue({
        el: '#app',
        data: {
            weeks: [],
            detectionDeps:[],
            quota:{},
            weekId:"",
            detectionDepId: initDetectionDepId,
            showDepSelect: !initDetectionDepId
        },
        created:function(){
            this.init();
        },
        filters:{
            formatSlice:function (str) {
                return str.substring(0,5);
            }
        },
        methods: {
            init: function () {
                $.get(baseURL + "sys/dict/week", function (r) {
                    vm.weeks = r.week;
                    vm.weekId = r.week[0].id;
                    if (initDetectionDepId) {
                        $.get(baseURL + "book/quota/info?detectionId=" + initDetectionDepId + "&weekId=" + vm.weekId, function (r) {
                            vm.quota = r.quota;
                        });
                    }
                });
                $.get(baseURL + "base/basedetectiondep/all", function (r) {
                    vm.detectionDeps = r.detectionDeps;
                });
            },
            getQuota: function(detectionDepId, weekId) {
                $.get(baseURL + "book/quota/info?detectionId=" + detectionDepId + "&weekId=" + weekId, function (r) {
                    vm.quota = r.quota;
                })
            },
            switchDetectionDep: function (el) {
                var detectionDepId = el.target.value;
                if(!detectionDepId) {
                    console.log("请选择合法的医技科室");
                }
                vm.detectionDepId = detectionDepId;
                vm.getQuota(detectionDepId, vm.weekId);
            },
            swithWeek:function(id) {
                vm.weekId = id;
                vm.getQuota(vm.detectionDepId, id);
            },
            configQuota:function(event, bookItemId, timeSliceId, quotaCategoryId) {
                var data = {
                    "bookItemId" : bookItemId,
                    "weekId" : this.weekId,
                    "timeSliceId" : timeSliceId,
                    "quotaCategoryId" : quotaCategoryId,
                    "max" : event.target.value,
                    "id" : event.target.getAttribute('data-quota-detail-id')
                };
                $.ajax({
                    type: "POST",
                    url: baseURL + "/book/quota/save",
                    contentType: "application/json",
                    data: JSON.stringify(data),
                    success: function(r){
                        if(r.code !== 0){
                            alert(r.msg);
                        }
                    }
                });
            }
        }
    })
</script>

</html>