<!DOCTYPE html>
<html>
<head>
    <title>成员管理</title>
		<#include "/header.html">
    <style type="text/css">
        .form-control{
            width: 90%;
        }
    </style>
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
            <div class="form-group col-sm-2">
                <input type="text" class="form-control" v-model="q.name" @keyup.enter="query" placeholder="姓名">
            </div>
            <a class="btn btn-default" @click="query">查询</a>

			<#if shiro.hasPermission("base:basemember:save")>
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			</#if>
			<#if shiro.hasPermission("base:basemember:update")>
            <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			</#if>
			<#if shiro.hasPermission("base:basemember:delete")>
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			</#if>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-2 control-label">姓名</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="baseMember.name" placeholder="姓名"  maxlength="10" />
            </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">性别</div>
                <div class="col-sm-10">
                    <select class="form-control" v-model="baseMember.gender">
                        <option v-for="g in genders" :value="g.id">{{g.value}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">登记号</div>
                <div class="col-sm-10">
                    <input style="display: inline" type="text" class="form-control" v-model="baseMember.patNo" placeholder="病人登记号"/><span style="margin-left: 10px; color: red">*</span>
                </div>

            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">出生日期</div>
                <div class="col-sm-10">
                    <input type="date" class="form-control layui-input" id="birthday-input"
                           v-model="baseMember.birthday" placeholder="出生日期"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">手机号码</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="baseMember.phone" placeholder="病人手机号码" maxlength="20"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">备注</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="baseMember.remark" placeholder="备注"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
</div>
<script src="${request.contextPath}/statics/libs/validator.js"></script>
<script src="${request.contextPath}/statics/plugins/laydate/laydate.js"></script>
<script src="${request.contextPath}/statics/js/modules/base/basemember.js?_${.now?long}"></script>
</body>
</html>